# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
.env
.venv
ENV/
env/
venv/
ENV.bak/
env.bak/
venv.bak/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
htmlcov/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# Other files to ignore
*.DS_Store
.idea/
